body, html, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-align: center;
}

body {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    color: #333;
}

#icon {
    max-width: 200px;
    margin: 20px 0;
}

.download-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #008CBA;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.download-button:hover {
    background-color: #005f74;
}

.archive-link {
    margin-top: 15px;
    color: #008CBA;
    text-decoration: underline;
    display: block;
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #eaeaea;
    font-size: 14px;
    color: #666;
    position: absolute;
    bottom: 0%;
}

footer a {
    color: #333;
    text-decoration: none;
}

footer a:hover {
    color: #008CBA;
    text-decoration: underline;
}