name: Linux build

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
  push:
    paths: [".github/workflows/linux.yml", "linux_build.sh"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run build script
        run: |
          chmod +x ./linux_build.sh
          ./linux_build.sh

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: aseprite-linux
          path: github
          if-no-files-found: error
