name: Linux build

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
  push:
    paths: [".github/workflows/linux.yml", "linux_build.sh"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y g++ clang git unzip curl build-essential cmake ninja-build libx11-dev libxcursor-dev libxi-dev libgl1-mesa-dev libfontconfig1-dev libfreetype6-dev libharfbuzz-dev libpng-dev zlib1g-dev libjpeg-dev libwebp-dev libxrandr-dev

      - name: Run build script
        run: |
          chmod +x ./linux_build.sh
          ./linux_build.sh

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: aseprite-linux
          path: github
          if-no-files-found: error
