name: Windows build

on:
  workflow_dispatch:
  schedule:
    - cron: "30 20 * * *"

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build
        shell: cmd
        run: call windows_build.cmd

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: aseprite-windows
          path: github
          if-no-files-found: error
